.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 300px;
  }

  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid black;
    font-size: 40px;
    cursor: pointer;
  }
